


{% extends 'base.html' %} {% load bootstrap_tags %}{% load static %}
{% block head %}

<title>Windward Paddocks Equestrian - Horse Arena Hire</title>
<meta name="author" content="Windward Paddocks Equestrian">
<meta name="description" content="Horse arena hire near Heckington in Lincolnshire - All weather rubber service suitable for dressage and show jumping">

{% endblock %}

{% block content %}
<h1 class="d-xs-block  d-sm-block d-md-none h1-heading">Equestrian Arena Hire</h1>

<section>
    <div class="row">

<div class="col-lg-6 p-left">
    <img class="img-fluid" src="{% static 'school_large.jpg' %}" alt="stables" >

</div>

<div class="col-lg-6 p-right">
    
<h1>Horse Arena Hire</h1>

    If you would like to book now online please <a href="/booking/">click here</a><br><br>
  
<h2>Menage Hire</h2>
<p class="ptext">
Here at Windward Paddocks Equestrian centre we have our oudoor horse arena hire avaiable between 8am and 8pm. The outdoor arena is 50mx20m and comes with or without  a full course of show jumps and being longer is a good dressage arena. The  arena is a rubber all weather service and also flood lit so can be used up until 8pm at night. If you interest is dressage, show jumping or just exercising your horse and enjoying riding then we will have you covered. There is ample parking and also space to unload and turn your lorry or trailer.</p>

  
<h2>Horse Arena Near Heckington</h2>
<p class="ptext">
Windward paddocks horse arena hire is near Heckington in Lincolnshire. We are based out on the fen and can be accessed easily from the A17,  SouthKyme , Boston and are near to most locations in the Sleaford area. The surrounding area is nice and quiet and there is a short circular hack by road that can be used as a nice warm up or warm down. Outdoor arena hire can be hit or miss in frosty conditions but our arena being rubber does not easily freeze. We do not have an indoor arena and all being compeition riders we need a service that we can use ourselves all year round.</p>

 
<h2>Availability </h2>
<p class="ptext">
Our arena is also avaiable for longterm hire. This may suit you if you are a trainer looking for a venue to give lessons or looking for a venue for regular lessons. This can work out very costly. We can work with you for a long period bookings on a discounted price. We also have plenty of parking space  and will shortly be adding more. As we are not a riding school or compeition venue and also only have a small amount of livery we can offer good avaiability including weekends and evenings. We  keen for our hirers to have a great experince and want to return.
    </p>

<h2>Online Booking</h2>
<p class="ptext">
Our booking process is all done online. Using our online booking system you can check availability and make mutiple booking and also pay online. This more conveninat than having to phone and speak to soneone. You can book any time you like. We do have a terms of use document that we would ask all hirers to read
    </p>


<h2>Prices</h2>
<p class="ptext">
One horse for 60 minutes is £15. Additional Horses (Max of two at once) are charged at £10 per 60 minutes. If you would like a course of fences put up then please let us know in advance and we will try to accomodate you. You can book and pay for our arena hire online and also check availability. we have online booking and the arena can be booked here.

</p>

<p>

If you have any queries wiht you booking then please contact contact@windwardpaddocks.com
</p>



 </div>

    </div><!--endrow-->

</section>

{% endblock %}