


{% extends 'base.html' %} {% load bootstrap_tags %}{% load static %}

{% block content %}


<section>
    <div class="row">

<div class="col-lg-6 p-left">
    <img class="img-fluid" src="{% static 'school_large.png' %}" alt="stables" >

</div>

<div class="col-lg-6 p-right">
    
<h1>Arena Hire</h1>
<p class="ptext">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id porta lectus. Aliquam nibh massa, sollicitudin non fermentum nec, facilisis quis nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse potenti. Nunc porta arcu augue, vel blandit nisl suscipit sed. Nam interdum accumsan mollis. Suspendisse vitae libero tempor, malesuada ex a, ultrices justo. Ut congue sem turpis, finibus lacinia magna lobortis vitae. Praesent imperdiet a odio dapibus sagittis. Maecenas a laoreet tellus, eu imperdiet eros. Ut et ex vel libero imperdiet pulvinar id ut tellus. Curabitur quis eros eu leo interdum placerat ut vel metus.</p></div>

    </div><!--endrow-->

</section>

{% endblock %}