


{% extends 'base.html' %} {% load bootstrap_tags %}{% load static %}

{% block content %}


<div class="row">
{% comment %} <div class="col-lg-3 sidebar">
    <h4>SECONDHAND EQUESTRAIN</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur rutrum lorem, vel fringilla sem sodales fringilla. Pellentesque non ultrices nulla, et pharetra ante. Fusce semper a purus eu ullamcorper. Integer vulputate mauris a tellus elementum mollis. Pellentesque est turpis, venenatis at sodales id, dignissim vitae leo. Vivamus malesuada non tellus a cursus. Morbi vitae magna in quam aliquet condimentum vitae at orci. Curabitur t</p>

</div> {% endcomment %}

</div><!--endrow-->



{% endblock %}