


{% extends 'base.html' %} {% load bootstrap_tags %}{% load static %}

{% block head %}

<title>Windward Paddocks Equestrian - Livery Yard</title>
<meta name="author" content="Windward Paddocks Equestrian">
<meta name="description" content="DIY livery yard near Heckington also offering full and part livery as well as grass livery and Equestrian arena hire">

{% endblock %}

{% block content %}
<h1 class="d-xs-block  d-sm-block d-md-none h1-heading">Livery Yard</h1>

<section>
    <div class="row">

<div class="col-lg-6 p-left">
    <img class="img-fluid" src="{% static 'stables.jpg' %}" alt="stables" >

</div>

<div class="col-lg-6 p-right">
    
<h1>Livery</h1>
<p class="ptext">

Looking for Livery yards that may be suitable for your pride and joy can be a long and tricky search. After being guests on livery stables for many years we are hopefull we understand the good and the bad. We are not a riding school and just a small family run business. All owners horses are kept alongside our own and are treated with horse care being the priority We offer 24 hour grass livery in the summer and access to a field all year round.</p>
<p class="ptext">
We are near some of the top competition sites in Lincolnshire including Arena UK, Elms Farm Equestrian and Sheepgate Equestrian. We have a 50m by 20m training arena which is also available to hire for people who do not have horse livery with us. If you would like to read more about arenna hire  follow the link.
We can offer all of the services below:</p>
 
<h2>Full Livery</h2>
<p class="ptext">Full livery is the term given to a fully managed yard, where horse owners pay a premium for all their horses needs to be met, including feeding, grooming, mucking out and exercising as necessary. The yard staff are responsible for the horses welfare at all times, with the owner having free access to their horse. In addition to providing secure stabling in which to keep their horse and fresh grazing in which to turn their horse out during the day, full livery often includes bedding, hay and feed supplies. This livery is the most expensive option for horse owners.</p>
<h2>Part Livery</h2>
<p class="ptext">Part livery allows the horse owners flexibility in that they can request certain aspects of care for their horse to be carried out, such as feeding, watering and mucking out, whilst they take care of the rest. Horses on part livery are not usually groomed or exercised by the yard staff. This option is particularly beneficial for horse owners who have a busy schedule and may struggle to visit their horse twice a day to attend its needs.</p>
<h2>DIY livery</h2>
<p class="ptext">
DIY livery is the most popular option, where yard owners provide the grazing and stabling facilities but the horse owner meets all the needs of the horse, including feeding, mucking out, grooming and exercising. These yards are not usually managed or staffed therefore all responsibility for the well-being of the horse falls solely to the horse owner, making it a much more cost effective stabling solution.</p>
<h2>Prices</h2>
<p class="ptext"
Horss can also potentially be exercised depending on what your requirement may be by arrangement. We recorgnise that each horse is different and try and acoomdate owners livery requirements when we can. We have 11 acres of paddocks and split these between winter a nd summer turnout. <p class="ptext">We offer 24 hour turnout through summer. Our basic DIY livery includes stables, single turnout field and disposal of muck. We do not inc;lude hay or bedding in our DIY fees and these start form £180 per calendar month. We do offer a pay as you need service to help with bring ins and turnouts, popping feeds in etc.</p>
<p class="ptext">
As well as easy access to competition vernues we have resonable hacking straingt off the yeard. This includes roads and bridleways and also some of the local fields when fallow. The road outside is fairly quiet outside of peak hours. The yard is easy to access form A17 and also conveniant for a number of local towns and villages including Great Hale, Sleaford and South Kyme.</p>
 
   </div>

    </div><!--endrow-->

</section>

{% endblock %}