
{% extends 'base.html' %}{% load static %}


{% block content %}
<style>

    form{
        padding:50px;
    }
</style>
<div class="row">
    {% comment %} <div class="col s12"><img src="{% static 'images/logo_i-Horse_2022.png' %} "class="logo"/></div> {% endcomment %}
</div>
<div class="row">
<div class="logform">
  <form method='POST' class="col s12">

      {{ login_form.as_table}} 
      <button type="submit" class="btn btn-success center">Login</button>
      {% csrf_token %}
    </form> 
</div>  
</div> 
{% endblock%}