

{% extends 'base.html' %}{% load crispy_forms_tags %}{% block page_title %}Registration Page{% endblock %} {% block page_heading %}Registration{% endblock %}
 
   {% block title %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Dashboard</a></li>

    <li class="breadcrumb-item active" aria-current="page">reg User 1/3</li>
  </ol>
</nav>{% endblock %}
 
 {% block content %}
<h1 class='search-title m-3'>Register User 1/3</h1>
  <div class="form-group col-md-6 offset-md-3">
 <form method='POST' enctype="multipart/form-data">
  
        {% csrf_token %}
    {{ registration_form|crispy}}
     {{ profile_form|crispy}}
    <button type="submit" class="btn btn-success">Register</button>
    
    </form>

</div>
 {% endblock %}